/* EgcModal Overlay */
.egcmodal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s;
}

/* EgcModal Content */
.egcmodal-content {
	background: #fff;
	border-radius: 12px;

	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	max-width: 90vw;
	width: 400px;

	position: relative;
	outline: none;
	animation: egcmodal-fadein 0.2s;
}

.egcmodal-content .modal-header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 1rem;
	background: var(--blue-med);
	color: var(--white);
}

.egcmodal-content .modal-header h2 {
	color: var(--white);
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.egcmodal-content .modal-body {
	padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.egcmodal-content .modal-body > #heading {
	padding-top: 0;
	margin-top: 0;
}

@media (max-width: 500px) {
	.egcmodal-content {
		width: 95vw;
		padding: 1.2rem 0.5rem 1rem 0.5rem;
	}
}

.egcmodal-content:focus {
	outline: 2px solid #1976d2;
}

/* Optional: Style for close button/icon */
.egcmodal-content .MuiSvgIcon-root {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	color: #888;
	transition: color 0.2s;
}
.egcmodal-content .MuiSvgIcon-root:hover {
	color: #1976d2;
}

@keyframes egcmodal-fadein {
	from {
		opacity: 0;
		transform: translateY(40px) scale(0.98);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
