@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.nav-background {
	width: 500px;
	min-width: 300px;
	height: 40px;
	padding-left: 0%;
	padding-right: 0%;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-left: -16px;
	margin-right: 20px;
	margin-top: 8.5px;
	gap: 35px;
}

/* 

.footer-nav-link-list a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
	display: inline-block;
}

.footer-nav-link-list a:hover {
	color: var(--link-color);
	animation: bounce-scale 0.4s ease-out forwards;
} */

.nav-item {
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
	transform: scale(1.15);
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
	color: var(--link-color);
	transform: scale(1.25);
}

.nav-item.nav-item-start a {
	border: 1px solid var(--blue-dark);
	border-radius: 15px;
	background-color: var(--blue-med);
	padding: 0.15em 0.75em;
	color: var(--white);
	position: relative;
	z-index: 1;
	will-change: transform;
	backface-visibility: hidden;
	text-align: center;
	min-width: 65px;
	min-height: 16px;
}

.nav-item.nav-item-start a:hover {
	background-color: var(--link-color);
	border: 1px solid var(--link-color);
	color: var(--white);
	transition: all 0.3s ease-in-out;
	transform: scale(1.25);
	z-index: 2;
}

.nav-item.nav-item-start.active {
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--link-color) !important;
	padding: 0.15em 0;
	transition: all 0.3s ease-in-out;
}

.nav-item.nav-item-start.active a {
	color: var(--link-color) !important;
}

@media (max-width: 800px) {
	.content-wrapper {
		width: 100%;
		margin: 0 auto;
	}
	.homepage-first-area {
		padding: 0 30px;
	}
	.homepage-first-area-right-side {
		justify-content: center;
		margin-bottom: 30px;
	}
	.homepage-image-container {
		width: 100%;
	}
	.homepage-rollover-image-container {
		height: 500px;
		padding-top: 50px;
		vertical-align: top;
		max-height: 100%;
		max-width: 100%;

		> img {
			height: 500px;
			width: 500px;
			max-height: 100%;
			max-width: 100%;
		}
	}
	.homepage-rollover-image-container img {
		height: 100%;
		width: auto;
	}
	.homepage-logo-container {
		position: absolute;
		left: 5%;
	}
	.homepage-projects {
		padding: 0 5%;
	}
}

@media (max-width: 768px) {
	.navbar {
		width: 85%;
	}
	.nav-list {
		gap: 20px;
		font-size: 90%;
	}
	.nav-background {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 600px) {
	.navbar {
		width: 90%;
		margin-top: 11.5px;
	}
	.nav-list {
		gap: 15px;
		font-size: 85%;
	}
	.nav-background {
		width: 100%;
		max-width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media (max-width: 480px) {
	.navbar {
		width: 95%;
	}
	.nav-list {
		gap: 10px;
		font-size: 80%;
		margin-left: -10px;
		margin-right: 10px;
	}
	.nav-item.nav-item-start a {
		padding: 0.15em 0.5em;
		min-width: 50px;
		font-size: 90%;
	}
	.page-content {
		max-width: 100%;
	}
	.content-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 10%;
		max-width: 100%;
	}
	.homepage-first-area-right-side {
		justify-content: center;
		margin: 30px auto;
		padding: 0 5%;
	}
	.homepage-first-area-left-side {
		padding-top: 0;
		width: 90%;
	}
	.homepage-socials {
		justify-content: center;
	}
	.homepage-image-container {
		width: 100%;
	}
	.homepage-rollover-image-container {
		height: 500px;
		padding-top: 0;
		vertical-align: top;

		> img {
			height: 500px;
			width: 500px;
		}
	}
	.homepage-rollover-image-container img {
		height: 100%;
		width: auto;
	}
	.homepage-logo-container {
		position: absolute;
		left: 0;
		padding-top: 50px;
	}
	.homepage-projects {
		padding: 0 5%;
	}
	.project-thumb-section {
		height: 300px;
	}
	.project-thumb {
		max-width: 100%;
		height: 300px;
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
	}
}
