@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.nav-background {
	width: 500px;
	height: 40px;
	padding-left: 0%;
	padding-right: 0%;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-left: -16px;
	margin-right: 20px;
	margin-top: 8.5px;
	gap: 35px;
}

/* 

.footer-nav-link-list a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
	display: inline-block;
}

.footer-nav-link-list a:hover {
	color: var(--link-color);
	animation: bounce-scale 0.4s ease-out forwards;
} */

.nav-item {
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
	transform: scale(1.15);
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
	color: var(--link-color);
	transform: scale(1.15);
}

.nav-item.nav-item-start a {
	border: 1px solid var(--blue-dark);
	border-radius: 15px;
	background-color: var(--blue-med);
	padding: 0.15em 0.75em;
	color: var(--white);
}

.nav-item.nav-item-start:hover {
	background-color: var(--link-color);
	border: 1px solid var(--link-color);
	color: var(--white);
	transition: all 0.3s ease-in-out;
}

.nav-item.nav-item-start.active {
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--link-color) !important;
	padding: 0.15em 0;
	transition: all 0.3s ease-in-out;
}

.nav-item.nav-item-start.active a {
	color: var(--link-color) !important;
}

@media (max-width: 600px) {
	.navbar {
		margin-left: 25%;
		margin-right: 25%;
		width: 80%;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		font-weight: bold;
	}
}
