body {
	background-color: var(--blue-lt);
}
#bg-container {
	background: linear-gradient(0deg, var(--blue-med) 80%, var(--blue-lt) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#81baff',GradientType=1 );
	position: fixed;
	margin: 0px auto;
	padding: 0px auto;
	height: 100vh;
	min-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#container-inside {
	position: relative;
	min-width: 100%;
	max-width: 100%;
	height: 100vh;
	min-height: 100%;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
}

.circle {
	position: absolute;
	border-radius: 50%;
	opacity: 0.8;
	will-change: transform;
	/* No animations - handled by JavaScript */
}

/* Individual circle styles */
.circle-1 {
	background: var(--red);
	width: 10vw;
	height: 10vw;
	z-index: 10;
}

.circle-2 {
	background: var(--orange);
	width: 15vw;
	height: 15vw;
	z-index: 9;
}

.circle-3 {
	background: var(--yellow-med);
	width: 20vw;
	height: 20vw;
	z-index: 8;
}

.circle-4 {
	background: var(--green-med);
	width: 25vw;
	height: 25vw;
	z-index: 7;
}

.circle-5 {
	background: var(--blue-med);
	width: 30vw;
	height: 30vw;
	z-index: 6;
}

.circle-6 {
	background: var(--indigo);
	width: 35vw;
	height: 35vw;
	z-index: 5;
}

.circle-7 {
	background: var(--violet);
	width: 40vw;
	height: 40vw;
	z-index: 4;
}
