.logo-container {
  position: relative;
  display: inline-block;
}

.logo-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.logo-image.top {
  pointer-events: auto;
}

.logo-image.hidden {
  opacity: 0;
  z-index: 1;
}

.logo-image.visible {
  opacity: 1;
  z-index: 2;
}
